<!DOCTYPE html>
<html>

<head>
    <title>Create new team</title>
    <link rel="stylesheet" href="/static/new_team.css">
</head>

<body>
    <div class="form-container">
        <h1>Create new team</h1>
        <form action="/teams/add" method="post">
            <div class="form-group">
                <label for="name">Team name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <select id="team_lead" name="team_lead" required>
                <option value="">Team leader:</option>
                {% for team_lead in team_leaders %}
                <option value="{{ team_lead }}">{{ team_lead }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="submit-btn">Create Team</button>
        </form>
    </div>
</body>

</html>